/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 35px 0px;
    justify-content: space-between;
}

/* Navigation Bar: Image  */
#logo{
    margin: 10px 34px;
    /* justify-content: center; */
}

#logo img{
    height: 56px;
    margin: 3px 45px;
   
}

/* .logoName{
    font-size: 2.4rem;
    color: rgb(224, 224, 127);
} */

/* Navigation Bar: List Styling */
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
    padding-top: 40px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#navbar ul li{
    list-style: none;
    font-size: 1.4rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
  background-color: white;
}